@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@DateTime.Now</h2>
    @{
        DateTime fechaIndcripcion = new DateTime(2024, 01, 01);
    }

    <i>Fecha de Inscripcion @fechaIndcripcion.ToUniversalTime()</i>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
