@model StudentModel;

@{
    ViewData["Title"] = "Lista de Estudiambres";
}

<h1 class="display-2">Lista de maestros</h1>
<h3>@Model.Nombre Es un estudiante de la carrera @Model.Carrera </h3>

<img src="~/imagenes/zorromeme.jpg" width="500" height="600">

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>